.header-shape {
  top: -290px;
  right: 28%;
}
.header-shape-2-container {
  position: absolute;
  top: -112px;
  right: 24%;
}
.header-shape-container:after {
  right: 10%;
  top: -397px;
}
.authentication-card {
  max-width: 560px;
  width: 95%;
  border: 1px solid var(--white-10);
  backdrop-filter: blur(10px);
  background: var(--white-5);
  border-radius: 10px;
  padding: 40px;
}
.talk-item .talk-item-icon img {
  max-width: 22px;
}
.contact-circle-shape-right {
  top: 260px !important;
}
.contact-circle-center:after {
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media all and (max-width: 991px) {
  .header-shape-container:after {
    right: -10%;
  }
}
@media all and (max-width: 767px) {
  .authentication-card {
    padding-left: 18px;
    padding-right: 18px;
  }
  .header-shape-container:after {
    right: -40%;
  }
}
