.chart-button {
  font-size: 15px;
  font-weight: 500;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  text-transform: uppercase;
  color: var(--white-90);
  transition: 0.5s;
  cursor: pointer;
}
.border-gradient {
  background-color: #121c2b;
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 6px;
  transition: 0.5s;
}
.border-gradient:after {
  content: "";
  position: absolute;
  top: -1.5px;
  bottom: -1.5px;
  left: -1.5px;
  right: -1.5px;
  z-index: -1;
  border-radius: 6px;
  background: linear-gradient(
      226.65deg,
      var(--brand-80) -46.27%,
      rgba(34, 197, 94, 0) 66.77%
    ),
    linear-gradient(
      74.54deg,
      rgba(255, 255, 255, 0.2) -3.26%,
      rgba(255, 255, 255, 0) 41.45%
    );
}
.chart-button:hover {
  background-color: var(--secondary-color);
}
