:root {
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --brand: #22c55e;
  /* --brand: #27a1da; */
  --brand-secondary: #86ffb2;
  --white: #ffffff;
  --black: #020617;
  --blue: #0084ff;
  --warning: #f94f40;
  --yellow: #ffd900;
  --neon: #95ff00;
  --orange: #ff4c00;
  --indigo: #537ad6;
  --purple: #9900ff;
  --font-base: 16px;
  --section-gap-base: 120px;
}

html {
  overflow-x: hidden !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--black);
  font-size: var(--font-base);
  font-weight: 400;
  padding-top: 100px;
  background-image: repeating-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.04) 0px,
    rgba(255, 255, 255, 0.04) 1px,
    transparent 1px,
    transparent 100px
  );
  background-size: 200px 100%;
  animation: moveLine 4s linear infinite;
}
@keyframes moveLine {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
}
.gradient-border {
  position: relative;
  border-radius: 12px;
  padding: 1rem;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    134.5deg,
    var(--brand-100) -12.56%,
    var(--white-10) 41.56%
  );
  background-size: 100% 100%;
  -webkit-mask: linear-gradient(var(--white-100) 0 0) content-box,
    linear-gradient(var(--white-100) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: 0.5s;
  /* z-index: -1; */
}

.gradient-border:hover::before {
  background-size: 350% 350%;
}

p {
  margin: 0;
  padding: 0;
}
.section-lg-mt {
  margin-top: var(--section-gap-base);
}
.section-lg-pt {
  padding-top: var(--section-gap-base);
}
.section-lg-ptb {
  padding-top: var(--section-gap-base);
  padding-bottom: var(--section-gap-base);
}

.md-p {
  font-size: var(--font-base);
  font-weight: 400;
}
.sm-p {
  font-size: calc(var(--font-base) - 2px);
  font-weight: 400;
  line-height: 26px;
}
.bg-filter-20 {
  backdrop-filter: blur(20px);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 transparent !important;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
}
h1 {
  font-size: calc(var(--font-base) + 44px);
  font-weight: 700;
  line-height: 70px;
}
h3 {
  font-size: calc(var(--font-base) + 24px);
  line-height: 46px;
}
h5 {
  font-size: calc(var(--font-base) + 10px);

  line-height: 42px;
  font-weight: 600;
}
h6 {
  font-size: calc(var(--font-base) + 4px);
  font-weight: 600;
  line-height: 28px;
}
.primary-btn {
  position: relative;
  background: linear-gradient(
    117.1deg,
    var(--brand) 35.08%,
    var(--brand-secondary) 105.57%
  );
  color: var(--black);
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-weight: 600;
  font-size: calc(var(--font-base) + 2px);
  min-width: 175px;
  border: 1px solid var(--black-80);
  transition: 0.5s;
}

.primary-btn::before,
.primary-btn::after,
.secondary-btn::before,
.secondary-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
}

.primary-btn:hover::before,
.secondary-btn:hover::before {
  animation: confetti 1s ease-out forwards;
}
.primary-btn:hover {
  background: linear-gradient(
    117.1deg,
    var(--brand-100) 35.08%,
    var(--brand-100) 105.57%
  );
}
.primary-btn:hover::after,
.secondary-btn:hover::after {
  animation: confetti 1s ease-out 0.2s forwards;
}
@keyframes confetti {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
    box-shadow: -30px -40px white, 40px -35px white, -45px 25px white,
      35px 30px white, -25px 45px white, 30px 45px white, -35px -20px white,
      25px -30px white;
  }
}
.secondary-btn {
  position: relative;
  background: var(--white-10);
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid var(--white-60);
  font-weight: 600;
  font-size: calc(var(--font-base) + 2px);
  min-width: 175px;
  transition: 0.5s;
  color: var(--white);
  backdrop-filter: blur(8px);
}
.outline-btn-md {
  padding: 8px 12px;
  font-weight: 500;
  font-size: calc(var(--font-base) - 2px);
  border-radius: 40px;
  backdrop-filter: blur(14px);
}
.border-1 {
  border: 1px solid var(--white-5);
}
.card-hover-translate {
  transition: 0.5s;
}
.card-hover-translate:hover {
  transform: translateY(-10px);
}
.card-hover-zooming-img img {
  transition: 0.5s;
}
.card-hover-zooming:hover .card-hover-zooming-img img {
  transform: scale(1.05);
}
/* Start star light css */
.stars {
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.star {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 2s infinite ease-in-out;
  background-color: var(--white-50);
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
/* shape design  */
.header-shape {
  position: absolute;
  top: -200px;
  right: 190px;
  width: 120px;
  height: 772px;
  background: linear-gradient(
    to bottom,
    var(--brand-100) 0%,
    var(--black-70) 100%
  );
  border-radius: 50px;
  transform: rotate(38deg);
  filter: blur(32px);
  z-index: -2;
}

.header-shape-container:after {
  content: "";
  position: absolute;
  right: -160px;
  top: -280px;
  background-image: url("../images/shape/line-shape.png");
  height: 780px;
  width: 620px;
  background-size: 100% 100%;
}
.header-shape-2-container {
  position: absolute;
  top: 15px;
  right: 170px;
  filter: blur(42px);
  z-index: -2;
}
.header-shape-2 {
  width: 171px;
  height: 563px;
  background: linear-gradient(
    145deg,
    var(--brand-100) 0%,
    var(--brand-10) 70%,
    var(--brand-5) 100%
  );
  z-index: -2;
  position: relative;
  transform: rotate(45deg) skewY(-10deg);
  filter: blur(135px);
  left: -70px;
}

.header-shape-2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: inherit;
  filter: blur(100px);
  opacity: 0.8;
  background: linear-gradient(
    145deg,
    var(--brand-100) 0%,
    var(--brand-10) 70%,
    var(--brand-5) 100%
  );
}

.header-shape-2::after {
  background: linear-gradient(
    145deg,
    var(--brand-100) 0%,
    var(--brand-10) 70%,
    var(--brand-5) 100%
  );
  content: "";
  position: absolute;
  inset: -20px;
  border-radius: inherit;
  background: inherit;
  filter: blur(80px);
  opacity: 0.4;
}

/* End star light css */
/* Start Header Css */
.navbar {
  padding: 0.75rem 1rem;
}
.navbar-brand img {
  max-width: 240px;
  width: 100%;
}
.navbar-nav .nav-link {
  font-weight: 500;
  padding: 0.5rem 20px !important;
  font-size: var(--font-base);
  color: var(--white-80);
  cursor: pointer;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--brand-100);
}
.offcanvas {
  background-color: var(--black-85);
}

.navbar-toggler {
  border: none;
}
/* Custom white toggler icon for dark navbar */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header-container {
  border-radius: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  border: 1px solid var(--white-10);
  background-color: var(--white-5);
}

/* start footer css */
.footer-nav ul li a {
  font-size: calc(var(--font-base) - 2px);

  transition: 0.5s;
  font-weight: 500;
}
.footer-nav ul li a:hover {
  color: var(--brand-100) !important;
}
.social-menu ul li a img {
  max-width: 20px;
  width: 100%;
}
.social-menu ul li a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.social-menu ul li a:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(228, 228, 228, 0.6);
}
.footer-section {
  overflow: hidden;
}
.glow-circle {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 646px;
  max-height: 862px;
  height: 100%;
  bottom: -130px;
  width: 100%;
  z-index: -2;
  margin: 0 auto;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    var(--brand-100) 0%,
    var(--brand-40) 40%,
    var(--black-100) 70%,
    transparent 100%
  );
  filter: blur(74px);
}
@keyframes pulseGlow {
  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.glow-circle {
  animation: pulseGlow 6s ease-in-out infinite;
}
.footer-bottom {
  border-top: 1px solid var(--white-10);
}
/* end footer css */
@media all and (max-width: 1550px) {
  .header-after-shape:after {
    opacity: 0.6;
    width: 60%;
  }
}
@media all and (max-width: 1199px) {
  h1 {
    font-size: calc(var(--font-base) + 32px);
    line-height: 58px;
  }
  .header-shape-container {
    position: relative;
    opacity: 0.5;
  }
}
@media (min-width: 992px) {
  .h-lg-100 {
    height: 100%;
  }
}
@media all and (max-width: 991px) {
  h1 {
    font-size: calc(var(--font-base) + 20px);
    line-height: 46px;
  }
  h3 {
    font-size: calc(var(--font-base) + 16px);
    line-height: 40px;
  }
  h5 {
    font-size: calc(var(--font-base) + 6px);

    line-height: 38px;
    font-weight: 600;
  }
  h6 {
    font-size: calc(var(--font-base) + 2px);
    line-height: 24px;
  }
  .section-lg-mt {
    margin-top: calc(var(--section-gap-base) - 20px);
  }
  .section-lg-pt {
    padding-top: calc(var(--section-gap-base) - 20px);
  }
  .section-lg-ptb {
    padding-top: calc(var(--section-gap-base) - 20px);
    padding-bottom: calc(var(--section-gap-base) - 20px);
  }
  .navbar-brand img {
    max-width: 180px;
  }
  .header-after-shape:after {
    width: 100%;
  }
  .primary-btn,
  .secondary-btn {
    padding: 8px 20px;
    font-size: var(--font-base);
    min-width: 170px;
  }
  .footer-nav ul li a {
    font-size: calc(var(--font-base) - 4px);
  }
}
@media all and (max-width: 767px) {
  .section-lg-mt {
    margin-top: calc(var(--section-gap-base) - 30px);
  }
  .section-lg-pt {
    padding-top: calc(var(--section-gap-base) - 30px);
  }
  .section-lg-ptb {
    padding-top: calc(var(--section-gap-base) - 30px);
    padding-bottom: calc(var(--section-gap-base) - 30px);
  }
  h1 {
    font-size: calc(var(--font-base) + 16px);
    line-height: 42px;
    font-weight: 500;
  }
  h3 {
    font-size: calc(var(--font-base) + 12px);
    line-height: 38px;
  }
  h5 {
    font-size: calc(var(--font-base) + 10px);
    line-height: 36px;
  }
  .md-p {
    font-size: calc(var(--font-base) - 2px);
  }
  .glow-circle {
    max-width: 346px;
    max-height: 462px;
  }
}
@media all and (max-width: 557px) {
  h1 {
    font-size: calc(var(--font-base) + 10px);

    line-height: 34px;
  }
  h3 {
    font-size: calc(var(--font-base) + 8px);

    line-height: 34px;
  }
  h5 {
    font-size: calc(var(--font-base) - 4px);
    line-height: 30px;
  }
  .section-lg-mt {
    margin-top: calc(var(--section-gap-base) - 40px);
  }
  .section-lg-pt {
    padding-top: calc(var(--section-gap-base) - 40px);
  }
  .section-lg-ptb {
    padding-top: calc(var(--section-gap-base) - 40px);
    padding-bottom: calc(var(--section-gap-base) - 40px);
  }
}
/* End Header  */
