.control-risk-card-icon img {
  max-width: 48px;
}
.circle-sm {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: var(--dark-primary);
}
.control-risk-card-label {
  font-size: 12px;
  color: var(--dark-primary);
}
.loss-limit-section {
  background-image: url("../images/bg/live-trade-chart-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 30px;
}
.loss-warning-icon img {
  max-width: 45px;
  width: 100%;
}
