.mission-thumbnails img {
  max-width: 450px;
  height: auto;
}
.shape-effect-mission {
  top: 35%;
  right: 5%;
  background-color: var(--brand-60);
  transform: rotate(-45deg);
}
.shape-effect-vision {
  top: 45%;
  left: 5%;
  background-color: var(--blue-60);
  transform: rotate(40deg);
}
