.profit-sharing-card {
  padding: 30px;
  background: var(--black-80);
  padding-top: 40px;
  box-shadow: 0px 0px 114.96px 0px #061c3d1a;
  backdrop-filter: blur(35px);
  border: 1px solid var(--white-5);
  border-radius: 30px;
  cursor: pointer;
}
.profit-sharing-card-icon img {
  max-width: 220px;
  width: auto;
  transition: 0.5s;
}
.profit-sharing-card-effect {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  filter: blur(25px);
  background-color: var(--yellow-100);
  opacity: 0.6;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  bottom: -38px;
  transition: 0.6s;
}
.profit-sharing-card:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  filter: blur(25px);
  background-color: var(--yellow-100);
  opacity: 0.5;
  z-index: -2;
}
.profit-sharing-card:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 18px;
  right: 0;
  filter: blur(18px);
  background-color: var(--black-100);
  opacity: 0.5;
  margin: auto;
  height: 65px;
  border-radius: 30px;
  z-index: -1;
  width: 147px;
}

.row > .col-lg-4:nth-child(2) .profit-sharing-card .profit-sharing-card-effect {
  background-color: var(--purple-100);
}
.row > .col-lg-4:nth-child(2) .profit-sharing-card:after {
  background-color: var(--purple-100);
}
.row > .col-lg-4:nth-child(3) .profit-sharing-card .profit-sharing-card-effect {
  background-color: var(--warning-100);
}
.row > .col-lg-4:nth-child(3) .profit-sharing-card:after {
  background-color: var(--warning-100);
}
.profit-sharing-card:hover .profit-sharing-card-effect {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  filter: blur(35px);
  opacity: 0.3;
}
.profit-sharing-card:hover .profit-sharing-card-icon img {
  transform: translateY(-10px);
}
@media all and (max-width: 991px) {
  .profit-sharing-card-icon img {
    max-width: 120px;
  }
}
