.work-step-card {
  position: relative;
  background: linear-gradient(
      210deg,
      var(--black-30) 66.56%,
      var(--brand-100) 311.01%
    ),
    var(--white-5);

  box-shadow: 0 0 115px 0 #061c3d1a;
  backdrop-filter: blur(35px);
  padding: 25px;
  border-radius: 35px;
  overflow: hidden;
  transition: 0.6s ease;
  z-index: 0;
}
.work-step-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -120%;
  width: 100%;
  height: 220%;
  background: radial-gradient(
    circle at 50% 20%,
    var(--brand-80) 25%,
    var(--black-40) 70%
  );
  border-radius: 40%;
  transform: rotate(0deg);
  opacity: 0;
  transition: bottom 1.5s ease-in-out, opacity 0.6s ease;
  z-index: -1;
}
.work-step-card:hover::before {
  bottom: -10%;
  animation: waveRotate 5s linear infinite;
  opacity: 0.2;
}

/* wave motion animation */
@keyframes waveRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* glow effect */
.work-step-card:hover {
  box-shadow: 0 0 40px #0e572923, inset 0 0 30px #0a552530;
}
.work-step-card:hover .work-step-icon {
  background: transparent !important;
  border-color: var(--brand-20);
}
.work-step-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border: 2px solid transparent;
  transition: 0.5s;
}
.work-step-icon::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 45px;
  height: 90px;
  width: 90px;
  background: var(--brand-80);
  filter: blur(40px);
  opacity: 0.5;
  z-index: -1;
}
.work-step-icon img {
  max-width: 45px;
  width: 100%;
  z-index: 3;
  position: relative;
}

@media all and (max-width: 767px) {
  .work-step-icon {
    height: 80px;
    width: 80px;
  }
  .work-step-icon img {
    max-width: 35px;
  }
}
