.glass-effect-card {
  background: #ffffff0a;
  border-radius: 30px;
  padding: 10px;
}
.glass-effect-card-inner {
  backdrop-filter: blur(20px);
  background: #ffffff0a;
  box-shadow: 0px 0px 54px 0px #0000008c;
  border-radius: 20px;
  padding: 30px;
}
.glass-effect-card-icon img {
  max-width: 50px;
}
.glass-effect-card-icon {
  height: 80px;
  background-color: var(--dark-primary);
  width: 80px;
  border-radius: 100%;
  padding: 20px;
}
.transparency-inner-card {
  position: absolute;
  left: 0%;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
@media all and (max-width: 767px) {
  .transparency-inner-card {
    position: inherit;
    transform: translateY(0%);
  }
}
